@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --color-background: #0a0a0a;
  --color-foreground: #ededed;
}

body {
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
